################################################################################
# gitignore 
################################################################################

# visual Studio results
.vs
.vscode

# Build results
.bin
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/
