/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';


body{
	margin-top:55px;
}
.navbar .nav-link {
	border: none;
}
.navbar .navbar-brand{
	border: none;	
}


/* costum Styles */
.icon{
	font-size:20px;
}