<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top ">
  <div class="container">
    <a class="navbar-brand favicon mr-2" [routerLink]="['/home']">
      <img  class="rounded-circle favicon-img" src="assets/images/icon.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngbCollapse]="isNavbarCollapsed">

        <!-- navbar Left -->
      <ul class="navbar-nav mr-auto">

        <!-- Shop Link -->
        <li class="nav-item"  routerLinkActive="active">
          <a class="nav-link rounded" [routerLink]="['/shop']">
            <i class="icon fas fa-shopping-basket"></i>
          </a>
        </li>
        <!-- Shop Link --> 

        <!-- Wishlist Link -->
        <li *ngIf="loggedIn()" class="nav-item"  routerLinkActive="active">
          <a class="nav-link rounded" [routerLink]="['/wishlist']">
            <i class="icon far fa-heart">
                <span class="badge badge-pill badge-success">2</span>
            </i>
          </a>
        </li>
        <!-- Wishlist Link --> 

        <!-- Shopping Cart Link -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link rounded" [routerLink]="['/shoppingCart']">
            <i class="icon fas fa-shopping-cart">
              <span class="badge badge-pill badge-warning">5</span>
            </i>
          </a>
        </li>
        <!-- Shopping Cart Link -->

        <!-- Add new Link -->
        <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
          <a class="nav-link rounded" [routerLink]="['/addNew']">
            <i class="icon fas fa-plus"></i>
          </a>
        </li>
        <!-- Add new Link -->

      </ul>
      <!-- navbar Left End -->

      <div *ngIf="!loggedIn()" class="navbar-nav justify-content-end row">
          <button class="btn btn-outline-success mx-1 my-1" (click)="openModal(0, modal)">Login</button>
          <button class="btn btn-outline-info mx-1 my-1" (click)="openModal(1, modal)">Register</button>
      </div>

      <!-- navbar Right -->
      <div *ngIf="loggedIn()" class="nav-item dropdown" dropdown >
        <a class="dropdown-toggle nav-link nav-link-user rounded" dropdownToggle >
            <span class="mr-1" *ngIf="isImageLoading; else noImageFound">
              <img class="user-img rounded-circle" src="{{profilePicture}}" alt="your profile Picture">
            </span>
          {{authService.decodedToken?.unique_name | titlecase}}
        </a>
      
        <div class="dropdown-menu" *dropdownMenu >
          <a class="dropdown-item" [routerLink]="['/editProfile']">
            <i class="fas fa-user-cog"></i> Edit Profile
          </a>
          <a class="dropdown-item" [routerLink]="['/boughtlist']">
            <i class="fas fa-cloud-download-alt"></i> My purchases
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </div>
      <!-- navbar Right End -->

    </div>
  </div>
</nav>

<ng-template #modal>
  <div class="modal-body py-0 px-0">
    <app-login-register-frame [selectedTab]="selectedTab" (closeFrame)='closeModal($event)'></app-login-register-frame>
  </div>
</ng-template>



<ng-template #noImageFound>
    <div class="no-img-found">
        <i class="fas fa-exclamation-triangle"></i>
    </div>
</ng-template>