<div class="card-body tab-pane">
  <h2 class="card-title text-center">Sign In</h2>
  
  <form #registerForm="ngForm" (ngSubmit)="register()">

    <div class="form-group">
      <label >Username</label>
      <input type="text" class="form-control" placeholder="Username" autofocus required name="username" [(ngModel)]="model.username">
    </div>
    
    <div class="form-group">
      <label >Password</label>
      <input type="password"  class="form-control" placeholder="Password" required name="password" [(ngModel)]="model.password">
    </div>
    
    <div class="form-group">
      <input type="password"  class="form-control" placeholder="Repeat Password" required name="password2" [(ngModel)]="model.password2">
    </div>
    
    <div class="text-center">
        <button class="btn btn-lg btn-danger" type="button" (click)="cancel()">Cancel</button>
        <button class="btn btn-lg btn-success" type="submit">Create Account</button>
    </div>
    
  </form>
</div>