<div class="card-margin">
  <div class="card card-shop h-100">

<!-- modal Button -->
    <div class="card-img-wrapper"> <!-- img-div-shop -->
      <img class="card-img-top" src="{{shopItem.exampleImage}}" alt="{{shopItem.name}}">
    </div>

    <div class="card-body">
      <h4 class="card-title">{{shopItem.name}}</h4>
      <h5>${{shopItem.price}}</h5>
    </div>
<!-- modal Button -->

    <div class="card-footer">
      <small class="text-muted">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </small>
      <button type="button" class="btn btn-success btn-sm float-right"><i class="fa fa-shopping-cart"></i></button>
      <button type="button" class="btn btn-info btn-sm float-right mr-2"><i class="fa fa-heart"></i></button>
    </div>

  </div>
</div>
