.card-margin{
	margin-bottom:20px;
}
.card-img-wrapper{
	padding-left:15px;
	padding-right:15px;
	margin-top:-20px;
}
.card-img-wrapper img{
	border-radius: 5px;		
	box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.5);
}
.card-shop, .card-shop img{	
	transition: margin-top 0.2s, margin-bottom 0.2s, box-shadow 0.2s;
	-webkit-transition: all .5s ease;
}
.no-img-found{
    font-size: 25px;
}

.modal-btn{	
    cursor: pointer;
}

 /* larger then md */
@media only screen and (min-width: 768px){
	.card-shop:hover{
		transform: scale(1.1, 1.1);
	}
}
@media only screen and (min-width: 768px){
	.card-shop:hover img{
		transform: scale(1.05, 1.05);
		box-shadow: 0 0 15px 7px rgba(200, 200, 200, 0.5);
	}
}

 /* between md and sm */
@media only screen and (max-width: 768px) and (min-width: 540px){
	.card-shop:hover{
		transform: scale(1.05, 1.05);
	}
}
@media only screen and (max-width: 768px) and (min-width: 540px){
	.card-shop:hover img{
		transform: scale(1.05, 1.05);
		box-shadow: 0 0 15px 7px rgba(200, 200, 200, 0.5);
	}
}

 /* min width sm */
@media only screen and (max-width: 540px){
	.card-shop:hover img{
		transform: scale(1.05, 1.05);
		box-shadow: 0 0 15px 7px rgba(200, 200, 200, 0.5);
	}
}