<div class="card-body tab-pane" *ngIf="!loggedIn()">
  <h2 class="card-title text-center">Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="form-group">
      <label>Username</label>

      <input type="text" class="form-control is-invalid" placeholder="Username" name="username"
      formControlName="username"
      [ngClass]="{'is-invalid': loginForm.get('username').errors && loginForm.get('username').touched}"/>

      <div class="invalid-feedback"
      *ngIf="loginForm.get('username').hasError('required') && 
             loginForm.get('username').touched">
        Username Required
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>

      <input type="password" class="form-control is-invalid" placeholder="Password" name="password"
      formControlName="password"
      [ngClass]="{'is-invalid': loginForm.get('password').errors && loginForm.get('password').touched}"/>
      
      <div class="invalid-feedback"
      *ngIf="loginForm.get('password').hasError('required') && 
             loginForm.get('password').touched">
        Password Required
      </div>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input">
      <label class="form-check-label">Remember me</label>
    </div>

    
    <div class="text-center">
        <button class="btn btn-lg btn-success btn-block" type="submit" [(disabled)]="!loginForm.valid" >Login</button>
    </div>

  </form>
</div>
  
<div class="card-body tab-pane" *ngIf="loggedIn()">
  <h2 class="card-title text-center">Allready Logged In</h2>
</div>