<div class="card my-5">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="true">Login</a>
        <a class="nav-item nav-link active" id="nav-signin-tab" data-toggle="tab" href="#nav-signin" role="tab" aria-controls="nav-signin" aria-selected="false">Sign Up</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">

      <!-- login Card -->
      <div class="card-body tab-pane fade" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
        <h5 class="card-title text-center">Login</h5>
        <form>
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
          </div>

          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          </div>

          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
          <hr class="my-4">
        </form>
      </div>
      <!-- login Card -->
      
      <!-- Sign up Card -->
      <div class="card-body tab-pane fade show active" id="nav-signin" role="tabpanel" aria-labelledby="nav-signin-tab">
        <h5 class="card-title text-center">Sign In</h5>
        
        <form #registerForm="ngForm" (ngSubmit)="register()">

          <div class="form-group">
            <label >Username</label>
            <input type="text" class="form-control" placeholder="Username" autofocus required name="username" [(ngModel)]="model.username">
          </div>
          
          <div class="form-group">
            <label >Password</label>
            <input type="password"  class="form-control" placeholder="Password" required name="password" [(ngModel)]="model.password">
          </div>
          
          <div class="form-group">
            <input type="password"  class="form-control" placeholder="Repeat Password" required name="password2" [(ngModel)]="model.password2">
          </div>
          
          <div class="text-center">
              <button class="btn btn-lg btn-danger" type="button" (click)="cancel()">Cancel</button>
              <button class="btn btn-lg btn-success" type="submit">Create Account</button>
          </div>
          <hr class="my-4">
        </form>
      </div>
      <!-- Sign up Card -->

    </div>
  </div>